@import "tailwindcss";

@theme {
  --color-primary: var(--ant-color-primary);
  --color-primary-hover: var(--ant-color-primary-hover);
  --color-primary-active: var(--ant-color-primary-active);
  --color-primary-bg: var(--ant-color-primary-bg);
  --color-primary-border: var(--ant-color-primary-border);
  --color-primary-text: var(--ant-color-primary-text);
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}
